.section {
    margin: 50px;
}

.main {
    width: 600px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
}



.title {
    background-color: rgb(236, 5, 159);
    text-align: center;
    height: 50px;
    border-bottom: 1px solid black;
    position: relative;
}


.icon {
    
    margin: 10px;
}




.hero {
    border-bottom: 1px solid black;
    position: relative;
    height: 150px;
}

.img {
    height: 130px;
    position: absolute;
    right: 20px;
    top: 1px;
}




.form-area {
    padding: 35px;
}

table {
    width: 100%;
}

td {
    padding: 12px;
}

td:first-child {
    text-align: right;
    font-weight: bold;
} 

input {
    width: 250px;
    height: 30px;
}



.form-check-input {
    width: 18px;
    height: 18px;
    border: 1px solid black;
}



.button{
    background-color: rgb(245, 112, 201);
    text-align: center;
    height: 50px;
    border-top: 1px solid black;
}
